* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 90px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 750px) {
  body {
    padding-top: 70px;
  }
}

/* =========================
   SMALL PHONE
========================= */

@media (max-width: 430px) {
  body {
    padding-top: 64px;
  }
}